* {
  margin: 0px;
}
/* header */
.banner {
  text-align: right;
  padding: 150px 150px 100px 0;
  background-image: url("../images/banner/banner3.png");
  background-size: width 1600px;
  height: 408px;
  background-size: contain;
  background-repeat: no-repeat;
}
.banner-title {
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
  color: white;
}
.banner-description {
  font-size: 11px;
  margin-bottom: 40px;
  color: aliceblue;
  height: 40px;
}
.btn-primary {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 15px;
  color: rgb(9, 147, 201);
  font-weight: 750;
}
/* Failure Section */
.failure {
  display: flex;
  margin-bottom: 70px;
}
.failure-list {
  text-align: left;
  margin-left: 150px;
  margin-top: 300px;
}
.failure-title {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 750;
}
.failure-description {
  margin-top: 15px;
  font-size: 13px;
  color: gray;
}
.person {
  margin-left: 120px;
}
/* Achivement Section */
.achivement {
  display: flex;
  margin-bottom: 70px;
}
.achivement-list {
  text-align: left;
  margin-left: 150px;
  margin-top: 200px;
}
.achivement-title {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 750;
}
.achivement-description {
  margin-top: 15px;
  font-size: 13px;
  color: gray;
}
.person {
  margin-left: 120px;
  padding-top: 100px;
}
/* plans section */
.plan-head {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 750;
  margin: 80px;
  text-align: center;
}
.learning-plan {
  display: flex;
}
.learning {
  margin-left: 150px;
}
.learning-title {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 750;
  text-align: center;
}
.learning-description {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(133, 131, 131);
  text-align: center;
  font-weight: 500;
}
/* contact section */
.call {
  padding: 200px;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 60px 150px;
  padding: 100px;
  border-radius: 8px;
}
.contact-title {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 750;
  color: white;
}
.call .btn-primary {
  margin-top: 20px;
}
/* footer setion */
footer {
  display: flex;
  padding: 140px;
  background-color: black;
}
.email {
  padding-left: 300px;
}
.email-title {
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.end {
  color: white;
}
.end-title {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.end-description {
  color: rgb(144, 142, 142);
  margin: 18px 0px;
}
.btn-subscribe {
  color: white;
  background-color: #005fac;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}
.email-box {
  background-color: black;
  color: rgb(145, 143, 143);
  padding: 12px;
  border: 2px solid grey;
  border-radius: 5px;
}
.icon-img {
  padding-left: 10px;
}